@use "./styles/variables";
@use "./styles/_fonts";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("./assets/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
  min-height: calc(100vh - 200px); /* Adjust this value based on your header and footer heights */
}

footer {
  flex-shrink: 0;
}
